@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");


body {
    background-color: #edf2f4;
    font-family: "Roboto", sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    background-color: #edf2f4;
    display: block;
}

#title {
    height: 100px;
    width: 100%;
    margin-top: -40px;
    border-bottom: 4px solid #d90429;
    background-color: #2b2d42;
}

#titleWord {
    padding-top: 25px;
    font-size: 50px;
    text-align: center;
    color: #edf2f4;
}

#projects {
    height: calc(100vh - 120px);
    width: 350px;
    overflow: auto;
    margin: 10px 30px 10px 10px;
    float: left;
}

#projectHeader {
    height: 75px;
    width: 350px;
    background-color: #edf2f4;
    font-size: 15px;
    display: flex;
}

#projectHeader h1 {
    margin: auto;
    margin-left: 85px;
    color: #204051;
    
}



#newProject {
    color: #2b2d42;
    background-color: #d90429;
    border: 1px solid #2b2d42;
    padding: 7px 14px;
    border-radius: 50%;
    font-size: 25px;
    margin: auto;
}

#PI, #TI {
    display: flex;
}

#TI {
    background-color: #edf2f4;
    height: 75px;
    
}

#projectInput {
    width: 250px;
    height: 44px;
    background-color: #edf2f4;
    border: none;
    border-bottom: 2px solid #d90429;
    color: #204051;
    text-align: center;
    font-size: large;
}

#projectSubmit, #todoSubmit {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: green;
}

#projectCancel, #todoCancel {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: x-large;
    background-color: rgb(209, 58, 20);
    color: white;
}

.projectFormatter {
    height: 70%;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    background-color: #8d99ae;
    border-radius: 20px;
    color: #edf2f4;
    padding: 25px;
    font-size: 20px;
    text-align: left;
    border: 3px solid #2b2d42;
    
    
}

.deleteProjectButton, .deleteTodoButton {
    font-size: small;
    background-color: #d90429;
    color: #edf2f4;
    float: right;
    border-radius: 50px;
    border: 0.5px solid #2b2d42;
    height: 40px;
    width: 40px;

    
}

.deleteProjectButton {
    margin-top: -10px;
}

.deleteTodoButton {
    margin-top: -3px;
}

#todoSubmit {
    margin-left: 75px;
    margin-top: 10px;
}

#todoCancel {
    margin-top: 10px;
    margin-right: 20px;
}

#todoInput {
    margin-top: 10px;
    margin-left: 10px;
}

#todos {
    height: calc(100vh - 140px);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(43, 45, 66, 0.5);
    margin: 10px 25px 20px 10px;
    overflow: auto;
}

#todoHeader {
    height: 75px;
    width: 100%;
    font-size: 15px;
    background: #8d99ae;
    border-bottom: 3px solid #d90429;
    display: flex;
    
}

#todoHeader h1 {
    margin: auto;
    
    color: #2b2d42;
    
}

#newTodo {
    color: #2b2d42;
    background-color: #d90429;
    padding: 7px 14px;
    border-radius: 50%;
    border: 1px solid #2b2d42;
    font-size: 25px;
    margin: auto;
    margin-right: 10px;
    margin-left: 35px;
    
}

.todoFormatter {
    height: 70%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: #edf2f4;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(43, 45, 66, 1);
    color: #2b2b2b;
    padding: 25px;
    font-size: 25px;
    /*text-align: center;*/
    
}

.todoViewFormatter {
    margin-left: 10px;
    
}


.hidden {
    display: none !important;
}



label {
    font-size: 22px;
    margin-left: 50px;
    margin-top: 10px;
}

#descriptionInput,
#notesInput {
    width: 50%;
    height: 60px;
    margin-top: 4px;
    
}

#priorityLevel {
    width: 100px;
    height: 65px;
    text-align: center;
    margin-top: 5px;

}

#notes {
    margin-left: 50px;
    margin-right: 10px;
}

#date {
    margin-left: 50px;
    margin-top: 7px;
}

.todoDate {
    height: 63px;
    margin-top: 5px;
    width: 225px;
}

#save {
    background-color: green;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 160px;
    margin-top: 115px;
}

#todoDetails {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    background-color:#3b6978;

    
}

.highlighted {
    background-color: #d90429;
    color:#edf2f4;
}

.detail1 {
    height: 20%;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    color: #2b2d42;
    padding: 10px;
    font-size: 18px;
    /*text-align: left;*/
    
}

.detail2 {
    height: 5em;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    color: #2b2d42;
    border: 3px solid #8d99ae;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;

}